<%- include('../Includes/head.ejs')%>
</head>
<body>
    <%- include('../Includes/navigation.ejs')%>
    <main>
        <span>This is the orders session</span>
    </main>
    <%- include('../Includes/end.ejs')%>
